/*
 * groguv12 shield overlay for Seeeduino XIAO BLE
 *
 * Pin mapping:
 *   D0  (P0.02) = Row 1
 *   D1  (P0.03) = Row 2
 *   D2  (P0.28) = Row 3
 *   D3  (P0.29) = Row 4
 *   D4  (P0.04) = Row 5
 *   D7  (P1.12) = RCLK (latch)
 *   D8  (P1.13) = SCK  (SPI clock)
 *   D10 (P1.15) = MOSI (SPI data)
 */

&spi2 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi2_default>;
    pinctrl-1 = <&spi2_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;  /* D7/P1.12 as CS (we use it as latch) */

    kscan: kscan@0 {
        compatible = "groguv12,kscan-sr-matrix";
        reg = <0>;
        spi-max-frequency = <4000000>;

        col-count = <14>;
        row-count = <5>;
        sr-bytes = <3>;
        poll-interval-ms = <1>;
        debounce-ms = <5>;

        latch-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;  /* D7 / P1.12 */

        row-gpios =
            <&gpio0 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D0 / P0.02 = Row 1 */
            <&gpio0 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D1 / P0.03 = Row 2 */
            <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D2 / P0.28 = Row 3 */
            <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* D3 / P0.29 = Row 4 */
            <&gpio0 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  /* D4 / P0.04 = Row 5 */
    };
};

&pinctrl {
    spi2_default: spi2_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,   /* D8 / P1.13 */
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>;   /* D10 / P1.15 */
        };
    };
    spi2_sleep: spi2_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 13)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 15)>;
            low-power-enable;
        };
    };
};

/ {
    chosen {
        zmk,kscan = &kscan;
    };
};
